.flashGameParent {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: auto;
    aspect-ratio: auto;
}

.flashGameChild {
    margin: auto;
    max-height: 100%;
    aspect-ratio: 1/2;
}