body {
    background-color: darkgray;
    background-image: url(image.jpg);
}

.gameButton {
    font-size: 20px;
    padding: 20px;
    border-radius: 20px;
    border: 5px outset black;
    text-align: center;
    height: 100px;
    width: 500px;
}

.gameButton:hover {
    background-color: black;
    color: white;
    transition-duration: 0.5s;
}

.leftAlign {
    display: flex;
        flex-direction: column;
}